html {
  text-align: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  /* max-width: 38rem; */
  /* padding: 2rem; */
}

video {
  background-color: oldlace;
  border: 1px solid black;
  max-width: 80%;
  max-height: 60vh;
  margin-bottom: 15px;
}
button {
  margin: 10px;
}

#speaker {
  color: red;
}
